<button type="submit" class="btn btn-primary">
    <i class="fa fa-filter"></i>
    {{ 'form.apply'|trans({}, 'PaDatagridBundle') }}
</button>
<a class="btn btn-default"
   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">{{ 'form.reset'|trans({}, 'PaDatagridBundle') }}</a>