{% set filterForm = grid.form.ds.f %}
{% set groups = {} %}
{% for fieldName, field in  filterForm.children %}
    {% set groupName = field.vars['group'] %}
    {% set groupFields = groups[groupName]|default([])|merge([fieldName]) %}
    {% set groups = groups | merge( { (groupName): groupFields }) %}
{% endfor %}


<span class="dropdown" data-component-role="field_selector">
    <button class="btn btn-default dropdown-toggle"
            type="button"
            id="field_selector_button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true">
        {{ 'filter'|trans({}, 'PaDatagridBundle') }}
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="field_selector_button">
        {% for group, fieldNames in groups %}
            {% if group is not empty %}
                <li><span style="padding-left: 10px;">{{ group|trans }}</span>
                <ul style="list-style-type: none; padding-left: 25px;">
            {% endif %}
            {% for fieldName in  fieldNames %}
                <li data-field="{{ fieldName }}" style="white-space: nowrap;padding-right: 10px;">
                   <span style="color: #777; padding: 3px 20px; clear: both; cursor: pointer">
                    <input type="checkbox" data-component-role="row_visibility"/>
                        {{ filterForm.children[fieldName].vars.label|trans }}
                   </span>
                </li>
            {% endfor %}
            {% if group is not empty %}
                </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</span>