<div class="row form-group"
     data-widget="order_collection"
     data-prototype="{{ include('@PaDatagrid/parts/sort/sort_collection_item.html.twig', {'form': form.vars.prototype}, with_context = false)|e }}">

    <label class="control-label col-md-4" for="filter_order">
        {{ 'sorting'|trans({}, 'PaDatagridBundle') }}
        <span class="glyphicon glyphicon-plus" data-component-role="add_element"></span>
    </label>

    <div class="col-md-8" data-component-role="entity_container">
        {% for item in form %}
            {{ include('@PaDatagrid/parts/sort/sort_collection_item.html.twig', {'form': item}, with_context = false)|raw }}
        {% endfor %}
    </div>
</div>
