<table width="100%" data-widget="order_collection_element">
    <tr>
        <td>{{ form_widget(form.f) }}</td>
        <td>{{ form_widget(form.d) }}</td>
        <td style="padding-left: 10px"><span class="glyphicon glyphicon-minus btn btn-default" data-component-role="remove_element"></span></td>
    </tr>
</table>

